#cluster-container {
  display: flex;
  background-color: #6b8f71;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #1d1e18;
  overflow: scroll;
  h1{ 
    text-align: center;
    color: #1d1e18;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.5vw;
    };
  max-width: 17vw;
  }

.cluster-buttons {
  display: flex;
  height: 4vw;
  width:  4vw;
  background-color: #d9fff5;
  box-shadow: 0px 0px 10px gray;
  border: none;
  border-radius: 0.5vw;
  color: #1d1e18;
  justify-content: right;
  align-items: center;
  overflow: hidden;

}
