
.cluster-buttons {
  display: flex;
  height: 140px;
  width:  140px;
  margin: 2vh;
  background-color: #d9fff5;
  box-shadow: 0px 0px 10px gray;
  border: none;
  border-radius: 0.5vw;
  color: #1d1e18;
  justify-content: center;
  align-items: center;
  font-size: .8vw;
  white-space: normal;
 
  // position: relative;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 80px;
  text-align: center;
  clip-path: polygon(20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%);
  background-color: #161213fd;
  background-image: radial-gradient(200% 70% at center 20%, rgba(48,44,45,1) -30%, rgba(50,46,47,1) 120%, rgba(22,18,19,0.3) 50%, rgba(22,18,19,1) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  z-index: 1;
}

.cluster-buttons:hover {
  background-position-y: -150px;
}

#cluster-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6b8f71;
  height: 100vh;
  font-size: .6vw;
  width: 10vw;
  max-width: 12vw;
  min-width: 10vw;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
#currCluster-name-container {
  align-items: left;
  justify-content: left;
  font-size: 1.6vw;
  padding-bottom: 1rem;
}
#cluster-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#cluster-name {
  position: sticky;
  top: 0;
  background-color: #0f0c0dd0;
  color: white;
  width: 200%;
  text-align: center;
  z-index: 100;
}

#cluster-name h2 {
  font-size: 13px;
}
