
.cluster-buttons {
  display: flex;
  height: 100px;
  width:  100px;
  margin: 4vh;
  background-color: #d9fff5;
  box-shadow: 0px 0px 10px gray;
  border: none;
  border-radius: 0.5vw;
  color: #1d1e18;
  justify-content: right;
  align-items: center;
  overflow: auto;
  font-size: .5vw;
}

#cluster-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6b8f71;
  height: 100vh;
  font-size: .6vw;
  width: 10vw;
  max-width: 10vw;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: scroll;
  position: relative;
}
#currCluster-name-container {
  align-items: left;
  justify-content: left;
  // background-color: #6b8f71;
  // color: #b9f5d8;
  font-size: .9vw;
  padding-bottom: 1rem;
}
#cluster-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  // overflow: hidden;
  // justify-content: space-around;
}

#cluster-name {
  position: sticky;
  top: 0;
  background-color: lightgrey;
  color: black;
  width: 220px;
  text-align: center;
}

#cluster-name h2 {
  font-size: 16px;
}

  // background-color: #d9fff5;
  // box-shadow: 0px 0px 10px gray;
  // border: none;
  // border-radius: 0.5vw;
  // color: #1d1e18;
  // justify-content: right;
  // align-items: center;
  // overflow: hidden;
  // font-size: .5vw;
// }
//   <>
//   <div id="cluster-name-container">
//     <h2>Cluster Name</h2>
//     <div id="currCluster-nam-container">
//       {currCluster.clusterName}
//     </div>
//   </div>
//   <div id="cluster-container">
//     {buttons}
//   </div>
// </>