#dashboard-container{
    background-color: #1d1e18;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    // border-radius: 1rem;
    padding: 2vw;
}
.dashboard-container {
     display: grid;  
     grid-template-columns: repeat(3, 1fr);
     gap: 10px 10px;
     width: 100%;
    overflow: scroll;
    height: 80%;
}

.panel {
    border: 1px solid #b9f5d8;
}
