#dashboard-container{
    background-color: #383B3A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    // border-radius: 1rem;
}