#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
#cluster-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(50, 49, 56);
    color:aliceblue;
    height: 25vw;
    width: 25vw;
    font-size: 15vw;
    box-shadow: 0px 0px 20px #ACE894;
    align-self: center;
    margin-bottom: 70px;
    border-radius: 1vw;
}

#cluster-btn:hover {
    background-color: #ACE894;
    
    cursor: pointer;
}

h1{
color: #7db1de

}
