#homepage {
    background-color: #0f0c0dd0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#cluster-btn {
    display: flex;
    
    // align-items: center;
    // justify-content: center;
    // border: none;
    // background-color: #778DA9;
    // color:#E0E1DD;
    font-size: 20vw;
    // box-shadow: 0px 0px 10px #E0E1DD;
    // align-self: center;
    // margin-bottom: 70px;
    // border-radius: 1vw;
    
  padding: 14vw 12vw;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #f1e3e3;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1vw;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#cluster-btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #06e0f8,
      #0b91c7b0,
      #071087,
      #002bff,
      #7a00ff,
      #ff00c8,
      
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 60s linear infinite;
    transition: opacity 10s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  #cluster-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
     
  #cluster-btn:hover {
      background-color:#0ed6a0;
  
      cursor: pointer;
  }
  

#cluster-btn:hover {
    background-color: #6b8f71;
    
    cursor: pointer;
}

h1{
  color: #E0E1DD
}
