* {
    // border: 1px solid red;
    font-family: 'Roboto Mono', monospace;
}

#main-page-container{
    display: flex;
    width: 100%;
    border: .05rem solid black;
    max-height: 100vh;
    height: 100vh;
}


#main-container {
    flex-direction: row;
    flex-grow: 1;
    background-color: #38393c;
    max-height: 100vh;
}


.active {
    background-color: #b9f5d8;
    border: none;
    box-shadow: 0px 0px 10px gray;
    overflow: hidden;
    height: 6vw;
    width: 6vw;
    font-size: 1vw;
    border-radius: 1vw;
    margin: 1vw;
    font-size: .8vw;
}




